Source: lliurex-news
Section: admin
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), llxsrchelper,zero-dev,python3-poinstaller
Standards-Version: 4.1.2
Homepage: http://lliurex.net

Package: lliurex-news-setup
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, n4d, python3,python-bcrypt, python-llxnet, python-docker, ghost, ghost-admin, lliurex-sgbd
Description: News server configuration
 Scripts and n4d plugins to configure news server
 
Package: lliurex-news-installer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zero-center,epi-gtk
Description: News installer files
 Contains epi and zero-center fles to install news systemr

