 
/*@define-color arc-blue #3a87e2;*/
@define-color arc-blue #0062f5;
@define-color arc-blue-light #4accf5;
@define-color arc-black #2d323d;
@define-color arc-red #000000;
@define-color arc-blue-hover #629de2;
@define-color arc-blue-active #3aa3e2;
@define-color default-grey #666666;


#WHITE_BACKGROUND
{
		
	background-color: 	rgba(255,255,255,1);
			
}

#BANNER-BOX
{


 background-color: rgba(40,85,167,1);

}

#LIGHT_BLUE
{
	/*
	background-color: 	rgba(43,90,133,1);
	
	background-color: 	rgba(53,110,161,1);
	*/
	background-color: @arc-blue
}

#INFO-LABEL
{
	font: 10.5pt Quattrocento Sans Bold;
	color: #282828;
	
}

#MSG-LABEL
{
	font: 10.5pt Quattrocento Sans Bold;
	color:@arc-blue;

}
#HEADER-LABEL
{
	color: @arc-blue;
	font: 12pt Quattrocento Sans Bold;
	font-weight: bold;

}

 #HEADER-SEPARATOR
{

	background-color: @arc-blue;

}
/*

GtkSeparator
{
	color: @arc-blue;
}
*/

#CUSTOM-ENTRY
{
		color: @default-grey;
		border: none;
		/*border-radius: 5px;*/
		/*background-color: @arc-blue;*/
		border-bottom: 1px solid #aaaaaa;
		padding: 4px;
		/*background: #eeeeee;*/
		
		/*border-bottom: 2px solid transparent;*/
	
}

#CUSTOM-ENTRY:focus
{
		color: @arc-blue;
		border-bottom: 1px solid @arc-blue-light;
		/*border-bottom: 2px solid rgba(0,0,0,0);*/
		/*background-color: transparent;*/
		
	
}
#CUSTOM-ENTRY:selected
{
	color: white;
}

#CUSTOM-ENTRY:disabled
{
	background-color: #bbbbbb;
	border-bottom: 1px solid transparent;
	color: #999999;
}
